
   body {
      background-color: #080808;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 1rem;
      letter-spacing: 0.05em;
    }

    a {
      color: #fff;
    }

    img {
      width: 50%;
    }

    nav{
      float: right;
    }
    header{
      border-radius: 30px;
        background-color:black

      }
      header::after{
        content: "";
        display: table;
        clear: both;
      }

    .myNavbar {
        margin: 0 auto;
        width: 80%;
        position: relative;
        background-color: black

                  }
      .logoNav{
        float: left;
        padding: 10px 0 ;
        width: 10%;
      }

      nav ul{
        margin: 0 auto;
        padding: 0;
        list-style: none;
      }

      nav li {
      margin-left: 70px;
      padding-top: 23px;
        display: inline-block


      }
      nav a{
      text-decoration: none;
      color:white;
      text-transform: uppercase;
      font-size: 14px;

      }

    .lista{
      color: white;
    }
    .artistas{
      color: white;
    }
    .albumes{
      color: white;
    }
      .footerindex{
      text-align: center;
        }
       
 #slider {
          overflow: hidden;
        }
   #slider figure {
          position: relative;
          width: 500%;
          margin: 0;
          left: 0;
          animation: 20s slider infinite;
        }
    #slider figure img {
          width: 20%;
          float: left;
        }
        
        @keyframes slider {
          0% {
            left: 0;
          }
          20% {
            left: 0;
          }
          25% {
            left: -100%;
          }
          45% {
            left: -100%;
          }
          50% {
            left: -200%;
          }
          70% {
            left: -200%;
          }
          75% {
            left: -300%;
          }
          95% {
            left: -300%;
          }
          100% {
            left: -400%;
          }
        }


/*GENEROS*/
        
.grid-container {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  
 
 

}

.grid-item {
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
 
}
.grid-item:hover{
  border: 1px solid white;
  background-color: rgb(95, 88, 88);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: black;
 
}
.anchor11{
  text-decoration: none;
}

.generos
{ 
 padding-right: 20px;
 padding-left: 20px;
}


/*Footer*/

.footer {
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.h1general{
color: white;
text-align: center;
}

.logodeezer{
width: 5%;
float: right;
}

.tracks {
text-align: center;
list-style: inside;
display: grid;
grid-row-gap: 25px;
grid-column-gap: 25px;
grid-template-columns: auto auto auto;
 padding: 10px;
 border: 1px solid white;
padding: 20px;
text-align: center;
color: white;

}
.albums {
  text-align: center;
  list-style: inside;
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto;
   padding: 10px;
   border: 1px solid white;
  padding: 20px;
  text-align: center;
  color: white;
}

.artists1 {
  text-align: center;
  list-style: inside;
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto;
   padding: 10px;
   border: 1px solid white;
  padding: 20px;
  text-align: center;
  color: white;
}  

.h2chart{
  text-align: center;
  border: 1px solid red;
  background-color: red;
  
}

/*.results  {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;}*/


/*.fotoartista {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;}*/

.results img{
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.lista{

list-style-type: none;
padding-right: 5px;
padding-left: 5px;
}

.artistas{

  list-style-type: none;
  padding-right: 5px;
  padding-left: 5px;
  }
.albumes{

    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
    }

ul{
  list-style-type: none;
}


@media only screen and (max-width: 600px) {
  .myNavbar {
   display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .logoNav {
      visibility: hidden;
  }
}